.App {
  background: no-repeat linear-gradient(#000000b3, #000000b3),
    url("./assets/background.jpg");
  height: 100vh;
  background-size: cover;
  opacity: 0.8;
}

.wrapper {
  width: 630px;
}

.wpx-170 {
  width: 170px;
}

.main {
  padding: 0 13%;
  background-color: #fff;
  flex: auto;
  overflow-y: auto;
  animation: move 0.5s ease forwards;
}

.book {
  display: flex;
  flex-direction: column;
  background-color: #f3f2f1;

  width: 320px;
  padding: 30px;
  height: 400px;
  align-items: flex-start;
}

.image {
  width: auto;
  height: 200px;
  object-fit: cover;
  align-self: center;
  box-shadow: 10px 10px 8px #00000028;
  margin-bottom: 10px;
}
.thumbnail {
  height: auto;
  margin: auto;
}

.h-36 {
  height: 36px;
}

.left {
  width: 50%;
  background-color: #f3f2f1;
}
.right {
  width: 100%;
  padding: 2%;
}

.description {
  height: auto;
  max-height: 450px;
  overflow-y: auto;
}

@keyframes move {
  from {
    margin-top: 12rem;
    opacity: 0.6;
  }
  to {
    margin-top: 0rem;
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .wrapper {
    width: 450px;
  }
  .booksWrapper {
    justify-content: center;
  }
  .thumbnail {
    height: 250px;
    max-width: 250px;
  }
  .book {
    width: 280px;
  }

  .fd-c {
    flex-direction: column;
  }
  .jc {
    justify-content: center;
  }
  .left {
    width: 100%;
  }
  .description {
    max-height: 100%;
    overflow-y: hidden;
    border: 0 !important;
    box-shadow: 0 0 !important;
    padding: 0 !important;
  }
}

@media (max-width: 500px) {
  .wrapper {
    width: 310px;
  }
}
